
  .login-form-forgot {
    float: right;
  }
  .ant-col-rtl .login-form-forgot {
    float: left;
  }
  .login-form-button {
    width: 100%;
  }
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .usertable-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }